@import "lifeUtil.scss";

.screen {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu_area {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  .side_wrap {
    height: 100%;

    .side_back {
      height: 100%;
      background-color: #dbdbdb;

      .side_menu_back {
        width: 50px;
        height: 100%;
        transition: all 500ms cubic-bezier(0.9, 0, 0.33, 1);
        overflow: hidden;

        &.active {
          width: 150px;
        }
      }

      .side_top_box {
        height: 50px;
        width: 150px;
        padding-top: 10px;
        cursor: pointer;

        .top_icon {
          @include background_set(50px, 40px, contain);
          background-image: url("../img/logo_img.png");
          display: inline-block;
          vertical-align: middle;
        }

        .top_text {
          display: inline-block;
          vertical-align: middle;
          padding-left: 20px;
        }
      }

      .side_menu_box {
        padding: 50px 10px;
        width: 150px;
        height: calc(100% - 50px);

        .menu_row {
          padding-bottom: 20px;
          cursor: pointer;

          &.logout {
            position: fixed;
            bottom: 0;
          }

          .main_menu_box {
            .menu_icon {
              @include background_set(30px, 30px, contain);
              background-image: url("../img/aside_3.png");
              display: inline-block;
              vertical-align: middle;

              &.second {
                background-image: url("../img/aside_5.png");
              }

              &.third {
                background-image: url("../img/aside_1.png");
              }
            }

            .menu_text {
              display: inline-block;
              vertical-align: middle;
              padding-left: 10px;
              font-size: 18px;
            }

            .logout_icon {
              @include background_set(30px, 30px, contain);
              background-image: url("../img/logout_icon.png");
              display: inline-block;
              vertical-align: middle;
            }
          }

          .sub_menu_box {
            display: none;
            padding-top: 10px;
            animation: growDown 300ms ease-in-out forwards;
            transform-origin: top center;

            &.active {
              display: block;
            }

            .sub_menu {
              padding-left: 40px;
              padding-bottom: 10px;
              font-size: 15px;

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

.main_area {
  width: 100%;
  height: 100%;
  padding-left: 50px;
}

.header_wrap {
  height: 30px;
  background-color: #dbdbdb78;
  width: 100%;

  .header_back {
    padding: 0 50px;

    .header_info_box {
      width: 50%;
      font-size: 13px;
      display: inline-block;
      vertical-align: middle;
      line-height: 27px;

      .info_text {
        padding-right: 10px;
        vertical-align: middle;
        display: inline-block;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.main_wrap {
  padding: 50px;
  height: 100%;
  width: 100%;

  .main_back {
    width: 100%;
    height: 100%;
  }
}

.main_title_box {
  font-size: 30px;
  padding-bottom: 30px;
  font-family: "Pretendard_bb";
}

//로그인
.login-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .input-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      height: 50px;
    }
  }
}

.login_wrap {
  width: 100%;
  height: 100%;
  position: relative;

  .login_back_img {
    background-image: url("../img/login_back.jpg");
    @include background_set(100%, 100%, cover);
    filter: blur(5px);
    position: fixed;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #234726d7;
    width: 40%;
    height: 100%;
    z-index: 1;
  }

  .login_back {
    width: 100%;
    height: 100%;
    position: relative;

    // &::after {
    //   position: absolute;
    //   content: "";
    //   transform: translate(0, -50%);
    //   top: 50%;
    //   left: 0;
    //   background-color: #b6fa7e9f;
    //   width: 50%;
    //   height: 90%;
    //   border-top-right-radius: 50%;
    //   border-bottom-right-radius: 50%;
    //   box-shadow: 30px 10px 30px 10px #b6fa7e9f;
    //   z-index: 2;
    // }

    .input_wrap {
      width: 100%;
      position: relative;
      z-index: 3;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      padding-left: 5%;

      .input_back {
        width: 100%;
        height: 100%;

        .logo_title_box {
          padding-bottom: 50px;

          .logo_img {
            @include background_set(70px, 70px, cover);
            background-image: url("../img/logo_img.png");
            display: inline-block;

            vertical-align: middle;
          }

          .logo_title {
            display: inline-block;
            color: #fff;
            font-family: "Nps_m";
            vertical-align: middle;
            padding-left: 50px;
            font-size: 50px;
            letter-spacing: 20px;
          }
        }

        .bottom_btn {
          display: inline-block;
          margin-right: 20px;
          border-bottom: 1px solid #fff;
          color: #fff;
          cursor: pointer;
          height: 25px;
          width: 150px;
          text-align: center;
          letter-spacing: 5px;
          font-family: "Nps_m";
        }

        .input_row {
          width: 100%;
          padding-bottom: 50px;

          .input_box {
            display: inline-block;
            vertical-align: middle;
            padding-right: 50px;
          }

          .login_btn {
            display: inline-block;
            vertical-align: middle;
            background-color: #fff;
            border: none;
            width: 100px;
            height: 130px;
            border-radius: 5px;
            font-size: 20px;
            font-family: "Nps_m";
            cursor: pointer;
          }
        }

        .login_input {
          display: block;
          outline: none;
          border: none;
          border-bottom: 2px solid #707070;
          background-color: inherit;
          margin-bottom: 20px;
          width: 300px;
          height: 50px;
          font-size: 20px;
          color: #fff;
        }
      }
    }
  }
}

.register_wrap {
  width: 100%;
  background-color: $sub-color;
  min-height: 100%;
  height: auto;
  position: relative;

  .register_tab_area {
    text-align: center;
    margin: 0 auto;

    .tab_menu {
      width: calc((100% - 20px) / 2);
      display: inline-block;
      margin-right: 20px;
      background-color: #fff;
      height: 60px;
      border-radius: 20px;
      font-size: 30px;
      font-family: "Pretendard_bb";
      border: 3px solid $sub-color;
      cursor: pointer;
      color: $sub-color;
      padding: 10px 0;

      &.active {
        background-color: $sub-color;
        color: #fff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .register_back {
    width: 50%;
    margin: 0 auto;
    height: 100%;
    padding: 50px 0 0;
    background-color: #fff;

    &.search {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      padding: 50px;
    }

    .logo_title_box {
      padding-bottom: 50px;
      text-align: center;

      .logo_img {
        @include background_set(70px, 70px, cover);
        background-image: url("../img/logo_img.png");
        display: inline-block;

        vertical-align: middle;
      }

      .logo_title {
        display: inline-block;
        color: $sub-color;
        font-family: "Nps_m";
        vertical-align: middle;
        padding-left: 50px;
        font-size: 50px;
        letter-spacing: 20px;
      }
    }

    .register_container {
      padding: 50px 50px 0;
      height: 100%;

      .input_row {
        padding: 0 0 30px;

        &.terms {
          text-align: center;
          padding: 40px 0;
        }

        .confirm_msg {
          padding: 10px 0 0 150px;
          font-size: 12px;
        }

        .input_title {
          text-align: left;
          display: inline-block;
          width: 150px;
          vertical-align: middle;
          font-size: 20px;
          font-family: "Pretendard_b";
        }

        .email_icon {
          display: inline-block;
          width: 20px;
          text-align: center;
        }

        .phone_icon {
          display: inline-block;
          width: 20px;
          text-align: center;
        }

        .register_input {
          width: calc(100% - 150px);
          height: 40px;
          vertical-align: middle;
          border-radius: 5px;
          border: 1px solid $light-gray;
          outline: none;
          padding: 0 10px;
          font-size: 15px;
          color: $deep-gray;

          &.email {
            width: calc((100% - 180px) / 3);
          }

          &.phone {
            width: calc((100% - 505px) / 3);
          }
        }

        .register_select {
          width: 200px;
          border: 1px solid $light-gray;
          outline: none;
          padding: 0 10px;
          font-size: 15px;
          height: 40px;
          border-radius: 5px;
          cursor: pointer;
          color: $deep-gray;

          &.email {
            width: calc((100% - 180px) / 3);
          }
        }

        .terms_label {
          font-size: 20px;
          font-family: "Pretendard_bb";
          position: relative;

          &::before {
            position: absolute;
            content: "";
            width: 25px;
            height: 25px;
            top: 0;
            border: 1px solid $light-gray;
            border-radius: 5px;
            background-color: #fff;
            left: -40px;
          }

          &::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 18px;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
            top: 0;
            left: -31px;
            rotate: 45deg;
          }
        }

        .terms_checkbox {
          display: none;
        }

        .terms_checkbox:checked+.terms_label::before {
          background-color: $sub-color;
        }
      }

      .register_btn_box {
        width: 100%;
        text-align: center;
        padding: 30px 0;

        &.search {
          padding-bottom: 0;
        }

        .register_btn {
          background-color: $sub-color;
          color: #fff;
          width: 100%;
          height: 70px;
          border: none;
          border-radius: 5px;
          font-size: 30px;
          font-family: "Pretendard_bb";
          letter-spacing: 5px;
          cursor: pointer;
        }
      }
    }
  }
}