@import "lifeUtil.scss";

.reserv_wrap {
  background-color: $back-color;
  width: 100%;
  height: calc(100% - 40px);

  &.overflow {
    overflow: hidden !important;
  }

  &.self {
    height: 100%;
  }

  .back_btn_box {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    padding: 7px 20px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 2;
    text-align: right;

    &.self {
      top: 0;
    }

    .back_btn {
      background-color: #00d07f;
      color: #ffffff;
      font-size: 18px;
      position: relative;
      padding: 9px 25px 9px 44px;
      display: inline-block;
      border-radius: 10px;
      cursor: pointer;

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
        @include background-set(13px, 13px, contain);
        background-image: url("../img/back_arrow.png");
      }
    }
  }

  .reserv_back {
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
    position: relative;

    &.success {
      padding: 0;
      height: 100%;
    }

    &.sign {
      padding: 60px 0;
      overflow: hidden !important;
    }

    .reserv_center_box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 90%;

      .center_icon_box {
        .center_icon {
          @include background-set(130px, 130px, contain);
          background-image: url("../img/self_icon.png");
          margin: 0 auto;
        }

        .center_text {
          color: #00ef81;
          padding-top: 23.5px;
          font-family: "Pretendard_b";
          font-size: 30px;
        }
      }

      .center_info_box {
        color: #676767;
        padding-top: 32px;
        font-size: 20px;
      }
    }

    .reserv_top_box {
      .reserv_title {
        font-size: 30px;
        font-family: "Pretendard_b";

        &.sub {
          padding-top: 17px;
          color: #414141;
          font-size: 20px;
          font-family: "Pretendard_m";
        }
      }
    }

    .reserv_btn_box {
      padding-top: 40px;
      border-radius: 10px;

      &.last_btn {
        text-align: center;

        .reserv_btn {
          color: #6f7070;
          padding: 10px 37px;

          &::after {
            display: none;
          }
        }
      }

      .reserv_btn {
        background-color: #f4f4f4;
        color: #5f5f5f;
        font-size: 20px;
        padding: 15px 60px 15px 35px;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Pretendard_b";
        display: inline-block;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          top: 50%;
          right: 30px;
          transform: translate(0, -50%);
          @include background-set(15px, 12px, contain);
          background-image: url("../img/arrow_icon_2.png");
        }
      }
    }

    .reserv_bottom_box {
      padding-top: 48px;
      overflow: visible;

      &.product {
        // text-align: center;
        padding-top: 0;
      }

      &.sign {
        padding-top: 35px;
      }

      .reserv_menu_box {
        box-shadow: 0px 10px 20px #00000029;
        border-radius: 10px;
        background-color: #fff;
        cursor: pointer;
        padding: 38px 40px;
        margin-bottom: 25px;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          @include background-set(40px, 30px, contain);
          background-image: url("../img/arrow_icon.png");
          top: 50%;
          right: 50px;
          transform: translate(0, -50%);
        }

        .menu_inner_box {
          .menu_icon {
            @include background_set(50px, 50px, contain);
            background-image: url("../img/reserv_menu_1.png");
            display: inline-block;
            vertical-align: middle;

            &.second {
              background-image: url("../img/reserv_menu_2.png");
            }

            &.third {
              background-image: url("../img/reserv_menu_3.png");
            }
          }

          .menu_text {
            display: inline-block;
            vertical-align: middle;
            color: #676767;
            font-size: 35px;
            padding-left: 35px;
            font-family: "Pretendard_b";
          }
        }
      }

      .reserv_contents_box {
        box-shadow: 0px 10px 20px #0000001d;
        border-radius: 10px;
        background-color: #fff;
        padding: 40px 30px;

        &.sign {
          padding: 20px;
          border-radius: 30px;
        }

        .time_box {
          width: 100%;

          .time_row {
            display: inline-block;
            vertical-align: top;
            padding-right: 10px;
            font-size: 20px;
            color: #707070;
          }

          .time_select {
            width: 100px;
            padding: 25px 30px;
            border: 1px solid #c3c3c3;
            border-radius: 10px;
            font-size: 20px;
            color: #707070;
            background-color: #fff;
            outline: none;
            margin-right: 10px;
          }
        }
      }

      .reserv_input_box {
        width: 100%;
        padding-bottom: 13px;

        .input_array_box {
          position: relative;
          margin-bottom: 13px;

          .delete_input {
            position: absolute;
            top: 50%;
            right: 20px;
            cursor: pointer;
            transform: translate(0, -50%);
            font-size: 20px;
          }
        }

        .reserv_add_btn {
          color: #707070;
          text-decoration: underline;
          font-size: 20px;
          cursor: pointer;
          padding-bottom: 12px;
        }

        .reserv_calendar {
          width: 100%;
          border-radius: 10px;
        }

        &.calendar {
          position: relative;

          &::after {
            position: absolute;
            content: "";
            top: 35px;
            right: 25px;
            transform: translate(0, -50%);
            @include background_set(24px, 28px, contain);
            background-image: url("../img/cal_icon.png");
          }
        }

        .reserv_input {
          width: 100%;
          background-color: #fff;
          outline: none;
          color: #707070;
          font-size: 20px;
          padding: 25px 30px;
          border: 1px solid #c3c3c3;
          border-radius: 10px;
        }
      }

      .reserv_equal_box {
        padding-bottom: 13px;

        .equal_label {
          font-size: 18px;
          position: relative;
          padding-left: 40px;

          &::before {
            position: absolute;
            content: "";
            width: 22px;
            height: 22px;
            top: 0;
            border-radius: 5px;
            background-color: #c9c9c9;
            left: 0;
          }

          &::after {
            position: absolute;
            content: "";
            width: 7px;
            height: 12px;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
            top: 2px;
            left: 6px;
            rotate: 45deg;
          }
        }

        .equal_checkbox {
          display: none;
        }

        .equal_checkbox:checked + .equal_label::before {
          background-color: $main-color;
        }
      }

      .reserv_check_box {
        box-shadow: 0px 10px 20px #00000029;
        border-radius: 20px;
        background-color: #fff;
        padding: 50px 50px 20px;
        width: 60%;
        min-width: 300px;
        margin: 0 auto;

        .check_title_box {
          padding-bottom: 50px;

          .check_title {
            font-size: 23px;
            font-family: "Pretendard_b";
            padding-bottom: 5px;
          }

          .check_sub {
            color: #868686;
            font-size: 20px;
          }
        }

        .reserv_text_box {
          padding: 15px 0;
          border-bottom: 1px solid #ededed;

          &.non_border {
            border-bottom: none;
          }

          .reserv_title {
            font-size: 18px;
            width: 150px;
            padding-right: 10px;
            display: inline-block;
            vertical-align: middle;
            color: #414141;
          }

          .reserv_text {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            color: #414141;
            font-family: "Pretendard_b";

            span {
              font-family: "Pretendard_b";
            }
          }
        }
      }

      .terms_box {
        overflow-x: scroll;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        max-height: 500px;
        border: 1px solid #c3c3c3;

        &::-webkit-scrollbar {
          display: none;
        }

        .terms_title {
          display: inline-block;
          width: calc(100% - 150px);
          font-size: 20px;
          vertical-align: middle;
        }

        .terms_contents_btn {
          display: inline-block;
          width: 150px;
          text-align: right;
          vertical-align: middle;
          cursor: pointer;
          color: $sub-color-2;
        }

        .terms_contents_box {
          padding: 20px;
          display: none;

          &.active {
            display: block;
          }
        }
      }

      .sign_container {
        .sign_box {
          display: inline-block;
          width: 100%;
          background-color: #fff;
          vertical-align: top;

          .sign_title {
            font-size: 20px;
            font-family: "Pretendard_bb";
            padding-bottom: 10px;
            color: #707070;
          }

          .sign_contents {
            border: 1px solid #c9c9c9;
            border-radius: 30px;
            height: 300px;
            width: 100%;
            position: relative;

            .sign {
              width: 100%;
              height: 100%;
              position: relative;
            }

            .sign_canvas {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }

        .sign_btn_box {
          padding-top: 25px;

          .sign_btn {
            display: inline-block;
            text-align: center;
            padding: 25px 85px;
            background-color: #f4f4f4;
            color: #fff;
            border-radius: 30px;
            position: relative;
            cursor: pointer;
            height: 82px;

            &::after {
              position: absolute;
              content: "";
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              @include background_set(28px, 28px, contain);
              background-image: url("../img/sign_check.png");
            }

            &:first-child {
              margin-right: 10px;

              &::after {
                background-image: url("../img/reset_icon.png");
              }
            }
          }
        }
      }

      .terms_checkbox {
        padding-top: 30px;

        .terms_label {
          font-size: 20px;
          position: relative;
          padding-left: 40px;

          &::before {
            position: absolute;
            content: "";
            width: 22px;
            height: 22px;
            top: 0;
            border-radius: 5px;
            background-color: #c9c9c9;
            left: 0;
          }

          &::after {
            position: absolute;
            content: "";
            width: 7px;
            height: 12px;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
            top: 2px;
            left: 6px;
            rotate: 45deg;
          }
        }

        .terms_checkbox {
          display: none;
        }

        .terms_checkbox:checked + .terms_label::before {
          background-color: $main-color;
        }
      }

      .slide_wrap {
        overflow: auto;
        white-space: nowrap;
        height: 550px;
        padding-top: 5px;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .product_box {
        display: inline-block;
        width: 350px;
        border-radius: 30px;
        background-color: #fff;
        position: relative;
        height: 520px;
        cursor: pointer;
        margin-right: 40px;
        box-shadow: 0px 10px 20px #00000026;

        &.color2 {
          background-color: #fffbf4;
          border: 4px solid #ffc560;

          .inner_bottom_box {
            .product_btn_box {
              .product_btn {
                &:first-child {
                  background-color: #ffe9c4;
                  color: #777777;
                }
              }
            }
          }
        }

        &.color5 {
          border: 4px solid #13f2c6;

          .inner_bottom_box {
            .product_btn_box {
              .product_btn {
                &:first-child {
                  background-color: #e9f4ee;
                }
              }
            }
          }
        }

        .product_img_box {
          width: 100%;
          height: 210px;
          position: relative;
        }

        .product_img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include background_set(82px, 82px, contain);
          background-image: url("../img/p_icon_3.png");

          &.img_0 {
            background-image: url("../img/p_icon_1.png");
          }

          &.img_1 {
            background-image: url("../img/p_icon_2.png");
          }

          &.img_2 {
            background-image: url("../img/p_icon_3.png");
          }

          &.img_3 {
            background-image: url("../img/p_icon_4.png");
          }

          &.img_4 {
            background-image: url("../img/p_icon_2.png");
          }

          .img_title {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "Pretendard_bb";
            font-size: 40px;
            width: 100%;
            text-align: center;
          }
        }

        .inner_bottom_box {
          padding: 0 25px;
          white-space: break-spaces;

          .product_text_box {
            text-align: center;
            padding-bottom: 30px;

            .product_info_text {
              color: #959595;
              font-size: 18px;
            }

            .product_text {
              font-size: 23px;
              font-family: "Pretendard_b";
              color: #4d4d4d;
              padding-bottom: 24px;

              &.title {
                font-size: 25px;
                color: #000000;
                padding-bottom: 10px;
              }

              &.og_price {
                color: #9b9b9b;
                text-decoration: line-through;
                text-decoration-color: #9b9b9b;
                font-size: 20px;
                font-family: "Pretendard_l";
                padding-bottom: 5px;
              }
            }
          }

          .product_btn_box {
            .product_btn {
              background-color: #f4f4f4;
              padding: 13px 0;
              color: #727272;
              text-align: center;
              border-radius: 15px;
              font-size: 18px;
              margin-bottom: 5px;

              &:last-child {
                background-color: inherit;
                color: #868686;
              }
            }
          }
        }
      }
    }
  }
}

.sign_canvas:hover {
  // cursor: crosshair;
}
