@import "lifeUtil.scss";

.reserv_wrap {
    background-color: $back-color_2;
    width: 100%;
    height: calc(100% - 40px);

    .reserv_back {
        width: 50%;
        margin: 0 auto;
        padding: 100px 0;

        &.product {
            width: 80%;
        }

        &.sign {
            width: 80%;
            padding: 60px 0;
        }

        .reserv_top_box {
            .reserv_title {
                font-size: 45px;
                font-family: "Pretendard_bb";
                color: #414141;
                text-align: center;
                line-height: 60px;

                .point_text {
                    display: inline-block;
                    color: $main-color;
                    vertical-align: top;
                    font-family: "Pretendard_bb";
                }

                .sub_text {
                    font-family: "Pretendard_m";
                }
            }
        }

        .reserv_btn_box {
            padding-top: 45px;
            width: 100%;
            text-align: center;

            .reserv_btn {
                background-color: $main-color;
                color: #fff;
                font-size: 30px;
                padding: 30px 0;
                border-radius: 30px;
                cursor: pointer;
            }
        }

        .reserv_bottom_box {
            padding-top: 60px;

            &.product {
                // text-align: center;
                padding-top: 0;
            }

            &.sign {
                padding-top: 0;
            }

            .reserv_menu_box {
                display: inline-block;
                width: calc((100% - 30px) / 2);
                border-radius: 30px;
                background-color: #fff;
                position: relative;
                height: 400px;
                cursor: pointer;

                &.right {
                    margin-left: 30px;
                }

                .menu_inner_box {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50%;


                    .menu_icon {
                        @include background_set(100%, 120px, contain);
                        background-image: url("../img/reserv_menu_1.png");

                        &.second {
                            background-image: url("../img/reserv_menu_2.png");
                        }
                    }

                    .menu_text {
                        text-align: center;
                        color: $main-color;
                        font-size: 30px;
                        font-family: "Pretendard_bb";
                        padding-top: 30px;
                        width: 100%;
                    }
                }
            }

            .reserv_input_box {
                width: 100%;
                padding-bottom: 20px;

                .reserv_calendar {
                    width: 100%;
                    border-radius: 10px;
                }

                &.calendar {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        top: 35px;
                        right: 25px;
                        transform: translate(0, -50%);
                        @include background_set(25px, 25px, cover);
                        background-image: url("../img/cal_icon.png");
                    }
                }

                .reserv_input {
                    width: 100%;
                    border-radius: 10px;
                    background-color: #fff;
                    outline: none;
                    color: #707070;
                    font-size: 20px;
                    padding: 25px 30px;
                    border: none;


                }
            }

            .reserv_check_box {
                border-radius: 30px;
                background-color: #fff;
                padding: 30px 40px;

                .reserv_text_box {
                    padding: 10px 0;

                    .reserv_title {
                        font-size: 20px;
                        width: 150px;
                        padding-right: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        color: #414141;
                    }

                    .reserv_text {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 20px;
                        color: #414141;
                        font-family: "Pretendard_bb";

                    }
                }
            }


            .terms_box {
                height: 300px;
                background-color: #fff;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .sign_container {
                padding-top: 50px;

                .sign_box {
                    display: inline-block;
                    width: 100%;
                    background-color: #fff;
                    padding: 30px;
                    vertical-align: top;
                    border-radius: 30px;



                    .sign_title {
                        font-size: 20px;
                        font-family: "Pretendard_bb";
                        padding-bottom: 10px;
                        color: #707070;
                    }

                    .sign_contents {
                        background-color: #707070;
                        height: 200px;
                        width: 100%;
                        position: relative;


                        .sign {
                            width: 100%;
                            height: 100%;
                            position: relative;
                        }

                        .sign_canvas {
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }


                }

                .sign_btn_box {
                    padding-top: 40px;

                    .sign_btn {
                        display: inline-block;
                        width: calc((100% - 10px) / 2);
                        text-align: center;
                        background-color: $main-color;
                        color: #fff;
                        border-radius: 30px;
                        position: relative;
                        height: 100px;
                        cursor: pointer;

                        &::after {
                            position: absolute;
                            content: "";
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            @include background_set(28px, 28px, contain);
                            background-image: url("../img/sign_check.png");
                        }

                        &:first-child {
                            margin-right: 10px;

                            &::after {
                                background-image: url("../img/reset_icon.png");
                            }
                        }
                    }
                }
            }

            .terms_checkbox {
                padding-top: 50px;

                .terms_label {
                    font-size: 20px;
                    position: relative;
                    padding-left: 40px;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 22px;
                        height: 22px;
                        top: 0;
                        border-radius: 5px;
                        background-color: #c9c9c9;
                        left: 0;
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        width: 7px;
                        height: 12px;
                        border-right: 3px solid #fff;
                        border-bottom: 3px solid #fff;
                        top: 2px;
                        left: 6px;
                        rotate: 45deg;
                    }
                }

                .terms_checkbox {
                    display: none;
                }

                .terms_checkbox:checked+.terms_label::before {
                    background-color: $main-color;
                }
            }

            .product_box {
                display: inline-block;
                width: calc((100% - 60px) / 3);
                min-width: 200px;
                border-radius: 30px;
                background-color: #fff;
                position: relative;
                height: 500px;
                cursor: pointer;
                margin-right: 30px;
                margin-bottom: 20px;
                overflow: hidden;

                &:nth-child(3n) {
                    margin-right: 0
                }

                .product_img {
                    @include background_set(100%, 275px, cover);
                    background-image: url("../img/product_img_1.png");
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        backdrop-filter: blur(4px);
                        -webkit-backdrop-filter: blur(4px);
                    }

                    &.img_1 {
                        background-image: url("../img/product_img_2.png");
                    }

                    &.img_2 {
                        background-image: url("../img/product_img_3.png");
                    }

                    .img_title {
                        color: #fff;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-family: "Pretendard_bb";
                        font-size: 40px;
                        width: 100%;
                        text-align: center;
                    }
                }

                .inner_bottom_box {
                    padding: 30px;

                    .product_text_box {
                        text-align: center;
                        padding-bottom: 25px;

                        .product_info_text {
                            color: #414141;
                            font-size: 18px;
                            padding-bottom: 14px;
                        }

                        .product_text {
                            font-size: 20px;
                            font-family: "Pretendard_bb";
                            color: $sub-color-2;
                        }
                    }

                    .product_btn_box {
                        .product_btn {
                            display: inline-block;
                            width: calc((100% - 10px) / 2);
                            background-color: #A8A8A8;
                            padding: 15px 0;
                            color: #fff;
                            text-align: center;
                            border-radius: 15px;
                            font-size: 18px;

                            &:last-child {
                                margin-left: 10px;
                                background-color: $main-color;
                            }
                        }
                    }
                }


            }
        }
    }
}