@import "lifeUtil.scss";

@media (max-width: 1600px) {
    .login_wrap {
        .login_back {
            height: 100%;

            .input_wrap {
                .input_back {
                    .logo_title_box {
                        padding-bottom: 30px;

                        .logo_img {
                            width: 50px !important;
                            height: 50px !important;
                            margin-bottom: 30px !important;
                        }

                        .logo_title {
                            font-size: 20px;
                            line-height: 30px;
                        }
                    }

                    .login_check_box {
                        .login_label {}
                    }

                    .bottom_btn_box {
                        .bottom_btn {
                            font-size: 15px;
                            padding: 10px 0;
                        }
                    }

                    .input_box {
                        .login_input {
                            font-size: 15px;
                        }
                    }

                    .login_btn {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .register_wrap {
        .register_back {
            &.register {
                width: 90%;
            }

            &.search {
                width: 90%;
            }

            .register_container {
                .input_row {
                    .input_title {
                        font-size: 15px;
                        width: 70px;
                    }

                    .confirm_msg {
                        padding-left: 70px;
                    }

                    .register_input {
                        width: calc(100% - 70px);
                        padding: 15px 10px;
                        font-size: 13px;

                        &.phone {
                            width: calc((100% - 110px) / 3);
                        }

                        &.email {
                            width: calc((100% - 86px) / 3);
                        }

                        &.code_input {
                            width: calc(100% - 180px);
                        }
                    }

                    .register_select {
                        width: calc(100% - 70px);
                        padding: 15px 10px;
                        font-size: 13px;

                        &.email {
                            width: calc((100% - 110px) / 3);
                        }
                    }
                }

                .register_btn_box {
                    .register_btn {
                        height: 50px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .menu_area {
        box-shadow: none;

        .side_wrap {
            .side_back {
                display: none;

                &.mobile {
                    display: block !important;
                }
            }
        }
    }


    .main_area {
        padding-left: 0 !important;

        .footer_wrap {
            width: 100% !important;
        }
    }

    .modal_wrap {
        .modal_back {
            width: 90%;
        }
    }

    .header_wrap {
        .header_top_back {
            padding: 10px;
            font-size: 12px;
        }
    }

    .reserv_wrap {
        .reserv_back {
            width: 80% !important;

            &.product {
                width: 90% !important;
            }
        }
    }
}

@media (max-width: 900px) {
    .reserv_wrap {
        .reserv_back {
            .reserv_bottom_box {
                .product_box {
                    width: 100% !important;
                    margin-right: 0 !important;
                    height: auto !important;

                    .product_img {
                        height: 200px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .login_wrap {
        .login_back {
            width: 90%;
        }
    }

    .register_wrap {
        .register_back {
            .register_tab_area {
                .tab_menu {
                    font-size: 20px;
                }
            }

            .register_container {
                .verified {
                    display: block;
                    margin-left: 0;
                    text-align: center;
                    margin-top: 20px;
                    border-radius: 5px;
                    font-size: 15px;
                }

                .input_row {
                    .input_title {
                        display: block;
                        padding-bottom: 10px;
                    }

                    .confirm_msg {
                        padding-left: 0;
                    }

                    .search_input {
                        padding: 15px 10px;
                        font-size: 13px;

                        &.short_phone {
                            width: calc((100% - 40px) / 3);
                        }
                    }

                    .search_select {
                        padding: 15px 10px;
                        font-size: 13px;
                    }

                    .register_input {
                        width: 100%;

                        &.phone {
                            width: calc((100% - 40px) / 3);
                        }

                        &.email {
                            width: calc((100% - 16px) / 3);
                        }

                        &.code_input {
                            width: 100%;
                        }
                    }

                    .register_select {
                        width: 100%;

                        &.email {
                            width: calc((100% - 40px) / 3);
                        }
                    }
                }
            }
        }
    }

    .reserv_wrap {
        .reserv_back {
            .reserv_top_box {
                .reserv_title {
                    font-size: 25px !important;
                    line-height: 30px !important;
                }
            }

            .reserv_bottom_box {
                .reserv_menu_box {
                    display: block !important;
                    width: 100% !important;
                    height: 200px !important;

                    &.right {
                        margin-left: 0px !important;
                        margin-top: 20px !important;
                    }

                    .menu_inner_box {
                        width: 80% !important;

                        .menu_text {
                            font-size: 20px !important;
                        }
                    }
                }
            }
        }
    }
}